html,
body {
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden;
}

.header {
    background-color: rgba(170, 170, 170, 0.5);
    z-index: 1;
}

.header a {
    text-decoration: none;
    color: rgb(34, 34, 34);
}

.hidden-header a:hover,
.header a:hover {
    color: rgb(230, 230, 230);
    transition: 0.3s;
}

#hidden-header {
    display: none;
    background-color: rgba(160, 160, 160, 0.5);
    transition:5s ease-in-out;
}